body {
  font-family: avenir,sans-serif;
  background-color: #fff;
}
header {
  background-color: #254669;
  height: 100px;
}
header div {
  width: 960px;
  margin: 0 auto;
}
header img {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}
header li {
  display: inline-block;
  margin: 43px 15px 0px 40px;
  font-weight: bold;
  color: #FFDFA8;
}
header li:first-child {
  font-family: 'Quattrocento',serif;
  margin-top: 38px;
  font-size: 30px;
}
header li a {
  color: #ff8787;
  text-decoration: none;
}
main {
  width: 960px;
  margin: 10px auto;
}
.hero-img {
  opacity: .75;
}
section img {
  margin-top: 10px;
}
div.store {
  float: left;
  border: purple 1px solid;
}
li.address {
  margin: 0px 7px 10px 7px;
  font-size: 11px;
  text-align: center;
}
li.address {
  margin: 0px 7px 2px 7px;
  font-size: 11px;
  text-align: center;
}
li.address-city {
  margin: 0px 7px 10px 7px;
  font-size: 11px;
  text-align: center;
}
main section:last-child {
  clear: both;
  height: 200px;
  background-color: #ededed;
  margin-top: 10px;
  display: inline-block;
  align-content: center;
}
li.information {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: 'Quattrocento',serif;
  font-weight: bold;
  font-size: 22px;
}
div.column {
  float: left;
  margin: 15px 15px;
  border: purple 1px solid;
  width: 435px;
}
li.locations, li.hours, li.contact {
  clear: both;
  margin: 0px 7px 5px 7px;
  font-size: 16px;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px 20px 15px;
}
table {
  margin: 0px 0px 0px 15px;
}
th {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: right;
}
td {
  font-size: 13px;
  padding: 3px;
  text-align: right;
}
td:first-child, td:last-child {
    font-weight: bold;
}
tr:last-child {
  border-top: black 1px solid;
}
footer {
  clear:both;
  background-color: #112030;
  height: 50px;
  font-size: 12px;
}
footer p {
  color: #ffeed3;
  text-align: center;
  padding-top: 15px;
  font-family: georgia,serif;
}
