body {
  font-family: avenir,sans-serif;
  background-color: #fff;
}
header {
  background-color: #254669;
  height: 100px;
}
header div {
  width: 960px;
  margin: 0 auto;
}
header img {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}
header li {
  display: inline-block;
  margin: 43px 15px 0px 40px;
  font-weight: bold;
  color: #FFDFA8;
}
header li:first-child {
  font-family: 'Quattrocento',serif;
  margin-top: 38px;
  font-size: 30px;
}
header li a {
  color: #ff8787;
  text-decoration: none;
}
main {
  width: 960px;
  margin: 10px auto;
}
main section:nth-child(2) {
  background-color: #ededed;
}
.hero-img {
  opacity: .75;
}
section div.merchandise {
  background-color: #fff;
  margin-top: 0px auto;
  padding-top: 10px;
  align-content: center;
  text-align: center;
}
li.merch {
  display: inline;
  margin: 5px;
}
figure {
  display: inline-block;
  margin-bottom: 15px;
}
li.merch img {
  height: 150px;
  border: 1px black solid;
  margin-bottom: 5px;
  margin-top: 5px;
}
div.storelocations {
  align-content: center;
  margin: 0px auto 0px auto;
  text-align: center;
}
div.store {
  display: inline-block;
  margin: 5px 15px;
  text-align: center;
}
li.hoursopen {
  padding: 0px 0px 15px 0px;
  font-style: italic;
  font-family: georgia,serif;
}
li.locations {
  clear: both;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
li.address {
  margin: 10px 0px 2px 0px;
  font-size: 13px;
  text-align: center;
}
li.address-city {
  margin: 0px 7px 10px 7px;
  font-size: 13px;
  text-align: center;
}
.hours {
  clear: both;
  margin-top: 10px;
  display: inline-block;
  align-content: center;
  background-color: #ededed;
}
li.information {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: 'Quattrocento',serif;
  font-weight: bold;
  font-size: 25px;
}
li.information:first-child {
  padding-top: 10px;
}
div.column {
  float: left;
  margin: 10px 0px 0px 0px;
  width: 330px;
}
div.column:first-child {
  padding-left: 150px;
}
div.column:last-child {
  padding-right: 150px;
}
li.contact {
  clear: both;
  font-size: 16px;
  text-align: center;
  margin: 0px 7px 10px 7px;
}
li.contact:last-child {
  margin: 0px 7px 25px 7px;
}
.family {
  text-align: center;
  background-color: #ededed;
}
.family img {
  border: 1px solid #a5a5a5;
  margin: 0px 0px 20px 0px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px 20px 15px;
}
table {
  margin: 0px 0px 0px 15px;
}
th {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: right;
}
td {
  font-size: 13px;
  padding: 3px;
  text-align: right;
}
td:first-child, td:last-child {
    font-weight: bold;
}
tr:last-child {
  border-top: black 1px solid;
}
footer {
  clear:both;
  background-color: #112030;
  font-size: 12px;
}
footer div {
  margin-top: 10px auto;
  padding-top: 10px;
  align-content: center;
  text-align: center;
}
.social {
  display: inline;
  margin-top: 5px;
}
footer p {
  color: #ffeed3;
  text-align: center;
  margin: 15px 0px 10px;
  padding-bottom: 15px;
  font-family: georgia,serif;
  display: block;
}
