body {
  font-family: avenir,sans-serif;
  margin: 15px 0px 0px 15px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
ul {
    list-style-type: circle;
    margin: 20;
    padding: 0;
}
li {
  margin-top: 5px;
}
li.total {
  margin-top: 10px;
  font-weight: bold;
}
